In [1]:
from wallet_database_sqlite3 import Sqlite3Wallet

In [2]:
db = Sqlite3Wallet()

connection with database made.

In [3]:
db.conn

In [4]:
db.erase_database()

True

In [5]:
res = db.create_tables()
res

True

In [6]:
res = db.does_table_exist("Wallets")
res

[('Wallets',)]

In [7]:
#f = db.cursor().execute("DROP TABLE Addresses")

In [8]:
#db.close()

In [9]:
xprv ="tprv8ZgxMBicQKsPfQJYjuFAso9x6STzmUdMh5U8CQqqQUTgtQHBHCq4C7FseeeZg15L16UeSwbrLwJRTXNPQsJQwqvbBA11sn4M6c3jR1LwAQP"
words = "engine over neglect science fatigue dawn axis parent mind man escape era goose border invest slab relax bind desert hurry useless lonely frozen morning"
res = db.new_wallet(xprv, words)

In [10]:
res

True

In [11]:
res = db.new_address("first_address", "m/0'/0'/", 0, 0, xprv)
res

True

In [12]:
res = db.new_utxo("first_address", 22222, "transaction_0", 0, confirmed=6)
res

True

In [13]:
utxos = db.look_for_coins(xprv)

In [14]:
utxos

[('transaction_0', 0, 22222)]

In [15]:
unused_addresses = db.get_unused_addresses(xprv)
unused_addresses

[]

In [16]:
res = db.new_address("second_address", "m/0'/0'/", 1, 1, xprv)
res

True

In [17]:
unused_addresses = db.get_unused_addresses(xprv, 2,2)
unused_addresses

SELECT address
FROM Addresses WHERE
NOT EXISTS(
SELECT 1
 FROM Utxos
WHERE Utxos.address = Addresses.address)
AND
 Addresses.wallet = 'tprv8ZgxMBicQKsPfQJYjuFAso9x6STzmUdMh5U8CQqqQUTgtQHBHCq4C7FseeeZg15L16UeSwbrLwJRTXNPQsJQwqvbBA11sn4M6c3jR1LwAQP'
AND
 (1591753283 - Addresses.created) > 0 AND (1591753283 - Addresses.created) < 172800 ;

[('second_address',)]

In [18]:
db.get_all_addresses(xprv)

[('first_address',), ('second_address',)]

In [18]:
f = db.conn.cursor().execute("SELECT * FROM Addresses")

In [19]:
f.fetchall()

[('first_address',
  0,
  "m/0'/0'/",
  0,
  1591752001,
  'tprv8ZgxMBicQKsPfQJYjuFAso9x6STzmUdMh5U8CQqqQUTgtQHBHCq4C7FseeeZg15L16UeSwbrLwJRTXNPQsJQwqvbBA11sn4M6c3jR1LwAQP'),
 ('second_address',
  1,
  "m/0'/0'/",
  1,
  1591752006,
  'tprv8ZgxMBicQKsPfQJYjuFAso9x6STzmUdMh5U8CQqqQUTgtQHBHCq4C7FseeeZg15L16UeSwbrLwJRTXNPQsJQwqvbBA11sn4M6c3jR1LwAQP')]

In [20]:
db.new_tx("tx_n1",[("transaction_0",0)],[(1000,"script_public_key of my first transaction")])

True

In [21]:
g = db.conn.cursor().execute("SELECT * FROM Transactions")
g.fetchall()

[('tx_n1', 0, 1, 0, 1591752025)]

In [22]:
h = db.conn.cursor().execute("SELECT * FROM Tx_Ins")
h.fetchall()

[('transaction_0', 0, 'tx_n1')]

In [23]:
i = db.conn.cursor().execute("SELECT * FROM Tx_Outs")
i.fetchall()

[(0, 1000, 'tx_n1', 'script_public_key of my first transaction')]

In [24]:
db.conn.cursor().execute("DROP TABLE Wallets")

In [25]:
db.does_table_exist("Addresses")

[('Addresses',)]

In [26]:
db.close_database()